
h1{
    color: #006600;
    text-align: center;
}
h3{
    color: #0000FF;
    text-decoration: underline;
    font-size: 30px;
}
h2{
color: #FF3399;
text-decoration: none;
font-weight: bold;
font-size: 30px;
text-align: center;
background-color: #FECFFD;
}
section{
    background-color: #FFFFCC;
    text-align: center;
    font-style: italic;
}
hr{
    border: 1px solid #000000;
 width: 180px;
}
.d1{
    color: blue;
}
.d2{
    color: brown;
}
.d3{color: green}

 